<p>
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Web</span>
    <span class="example-spacer"></span>

    <a mat-button color="primary" routerLink="/home">Home</a>
    <a mat-button color="primary" routerLink="/aboutus">About Us</a>
    <a mat-button color="primary" routerLink="/contactus">Contact Us</a>
    <a mat-button color="primary" routerLink="/user">Users</a>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
