
<table align="center" border="1" cellpadding="2" width="50px" height="100px">
  <thead>
    <tr style="align-content:center">
      <th>Role</th>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody style="align-content:center">
    <tr style="align-content:center">
      <td>Admin</td>
      <td>BE</td>
    </tr>
    <tr style="align-content:center">
      <td>Customer</td>
      <td>B.Com</td>
    </tr>
    <tr style="align-content:center">
      <td>Developer</td>
      <td>ME</td>
    </tr>
  </tbody>
</table>
